# Find last position of substring
# Write a python program to find the last position of a given substring.

In [ ]:
strl = input()
substr = input()
out = strl.rfind(substr)
print(f"Last occurrence of Emma starts at index {out}")

Emma is a data scientist who knows Python. Emma works at google.
Emma
Last occurrence of Emma starts at index 43

In [ ]:
strl = input()
substr = input()
out = strl.rfind(substr)
print(f"Last occurrence of {substr} starts at index {out}")
print("Last occurrence of {} starts at index {}".format(substr, out))

Emma is a data scientist who knows Python. Emma works at google.
Emma
Last occurrence of Emma starts at index 43
Last occurrence of Emma starts at index 43

Common ones out
Easy
Write a Python program to find common items from two lists.

In [ ]:
color1 = eval(input()) #first input list
color2 = eval(input()) #second input list
color_1 = set(color1)  #convert 1st list into set
color_2 = set(color2)  #convert 2nd list into set
print(list(color_1 & color_2))  #use Intersection operator and converted into list

["Red", "Green", "Orange", "White"]
["Black", "Green", "White", "Pink"]
['Green', 'White']

String Palindrome
Write a Python program to check whether a String is Palindrome or not?

In [ ]:
string = input()                              #Take input
string1 = string[::-1]                        #Reverse the string
if string == string1:                         #Check if both are equal
  print("String is palindrome")               #If true then print this output
else:
  print("String is not palindrome")           #If false then print this output

madam
String is palindrome

Find items starts with char.
Write a Python program to find the items starts with specific character from a given list.

In [ ]:
#take a list as an input
text = eval(input())
char = input()
print([i for i in text if i.startswith(char)])

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
b
['bcd', 'bkie']

Difference between two lists
Write a Python program to compute the difference between two lists.

In [ ]:
L1 = eval(input())
L2 = eval(input())
L3 = list(set(L1)-set(L2))
L4 = list(set(L2)-set(L1))
print(f"L1-L2={L3}")
print(f"L2-L1={L4}")

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2=['red', 'orange', 'white']
L2-L1=['yellow', 'black']

In [ ]:
L1 = eval(input())
L2 = eval(input())
L3 = sorted(list(set(L1)-set(L2)))
L4 = sorted(list(set(L2)-set(L1)))
print(f"L1-L2={L3}")
print(f"L2-L1={L4}")

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2=['orange', 'red', 'white']
L2-L1=['black', 'yellow']

In [ ]:
int('1')

1

In [ ]:
float('1')

1.0

In [ ]:
int('011', 16)

17

In [ ]:
#Define the string
string_number = "123"

# Convert the string to a number
number = eval(string_number)

number1 = float(string_number)

# Print the number
print(number)
print(type(number))
print(number1)
print(type(number1))

123
<class 'int'>
123.0
<class 'float'>

In [ ]:
def count_character_frequency(input_string):
  char_frequency = {}
  for char in input_string.lower():
    if char in char_frequency:
      char_frequency[char] += 1
    else:
      char_frequency[char] = 1
  return char_frequency

In [ ]:
input_string = input()
frequency = count_character_frequency(input_string)
print(frequency)

AlmaBetter
{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
str1 = "I am A Coder."
print(str1.endswith("er."))
print(str1.capitalize())
print(str1.count("am"))
print(str1.find("am"))
print(str1.replace("am", "was"))

True
I am a coder.
1
2
I was A Coder.

In [ ]:
first_name = input()
print(len(first_name))

Nehagupta
9

In [ ]:
check_occ = input()
print(check_occ.count('$'))

$Myname$$is$neh$a
5

In [ ]:
age = int(input())
if(age >= 21):
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

16
You are not eligible to vote

In [ ]:
number = int(input())
if (number % 2 == 0):
  print("Even")
else:
  print("Odd")

16
Even

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if(a > c) and (a > b):
  print(a)
elif(b > a) and (b > c):
  print(b)
else:
  print(c)

5
7
8
8

In [ ]:
number = int(input())
if (number % 7 == 0):
  print("It is multiple of 7")
else:
  print("It's not multiple of 7")

20
It's not multiple of 7

In [ ]:
marks1 = 94.4
marks2 = 87.5
marks3 = 95.2
marks4 = 66.4
marks5 = 45.1

marks = [marks1, marks2, marks3, marks4, marks5]
print(marks)

[94.4, 87.5, 95.2, 66.4, 45.1]

In [ ]:
str1 = "Shalu"
print(str1[0])

S

In [ ]:
list = [2, 1, 3]
#list.append(4)
#print(list)
#list.sort()
#print(list)
#list.sort(reverse=True)
#print(list)
list.reverse()
print(list)
list.insert(2, 5)
print(list)
list.remove(1)
print(list)
list.pop(2)
print(list)
list.clear()
print(list)

[3, 1, 2]
[3, 1, 5, 2]
[3, 5, 2]
[3, 5]
[]

In [ ]:
tup = (2,1,3,1)
print(tup.index(3))   #returns index of first occurrence
print(tup.count(2))   #returns count of given element

2
1

In [ ]:
movies = []
mov1 = input("enter first movie: ")
mov2 = input("enter second movie: ")
mov3 = input("enter third movie: ")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter first movie: Hitler
enter second movie: harry potter
enter third movie: iron man
['Hitler', 'harry potter', 'iron man']

In [ ]:
movies = eval(input())
print(movies)

['Hitler', 'harry potter', 'iron man']
['Hitler', 'harry potter', 'iron man']

In [ ]:
lis1 = [1,2,3]
lis2 = [4,5,6]
lis1.extend(lis2)
print(lis1)

[1, 2, 3, 4, 5, 6]

In [ ]:
lis1 = [1,2,3,2,1]

copylis1=lis1.copy()
copylis1.reverse()

if (copylis1 == lis1):
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

In [ ]:
str1 = "ma'am"
str1[::-1]
if (str1[::-1] == str1):
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

In [ ]:
grade = ("C", "D", "A", "A", "B", "B", "A")
print(grade.count("A"))
print(grade.index("A"))

3
2

In [ ]:
grade = ["C", "D", "A", "A", "B", "B", "A"]
grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [ ]:
student = {
    "name" : "rahul kumar",
    "subjects" : {
        "phy" : 97,
        "chem" : 98,
        "math" : 95
    }
}

print(student["subjects"]["chem"])

98

In [ ]:
print(student.keys())   #to access keys in dictionary

dict_keys(['name', 'subjects'])

In [ ]:
print(list(student.keys()))  #type casting into list

['name', 'subjects']

In [ ]:
print(len(student))

2

In [ ]:
print(student.values())

dict_values(['rahul kumar', {'phy': 97, 'chem': 98, 'math': 95}])

In [ ]:
print(list(student.values()))

['rahul kumar', {'phy': 97, 'chem': 98, 'math': 95}]

In [ ]:
print(student.items())

dict_items([('name', 'rahul kumar'), ('subjects', {'phy': 97, 'chem': 98, 'math': 95})])

In [ ]:
student.get("name")

'rahul kumar'

In [ ]:
new_dict = {"name" : "Neha", "city" : "saharanpur"}
student.update(new_dict)
print(student)

{'name': 'Neha', 'subjects': {'phy': 97, 'chem': 98, 'math': 95}, 'city': 'saharanpur'}

In [ ]:
nums = {1,2,3,4}
set2 = {1,2,2,2}
null_set = set()
print(nums)
print(set2)
print(null_set)

{1, 2, 3, 4}
{1, 2}
set()

In [ ]:
nums.add(5)

In [ ]:
nums

{1, 2, 3, 4, 5}

In [ ]:
nums.remove(1)

In [ ]:
nums

{2, 3, 4, 5}

In [ ]:
nums.clear()

In [ ]:
nums

set()

In [ ]:
set2.pop()

1

In [ ]:
set2

{2}

In [ ]:
collection = {"hello", "apancollege", "world", "coding", "python"}
print(collection.pop() + " " + collection.pop())

hello apancollege

In [ ]:
print(collection.pop())

coding

In [ ]:
collection

{'python', 'world'}

In [ ]:
dic = {}
dic["table"] = ["a piece of furniture", "lists of facts & figures"]

In [ ]:
dic

{'table': ['a piece of furniture', 'lists of facts & figures']}

In [ ]:
dic["cat"] = "a small animal"
dic

{'table': ['a piece of furniture', 'lists of facts & figures'],
 'cat': 'a small animal'}

In [ ]:
lis1 = ["python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"]
set1 = set(lis1)
len(set1)

5

In [ ]:
age_str = input("Enter your age: ")
age_int = int(age_str)
print("You will be " + str(age_int+1)+ " in next year")

Enter your age: 33
You will be 34 in next year

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w,":",len(w))

cat : 3
window : 6
defenestrate : 12

In [ ]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

print(active_users)

{'Hans': 'active', '景太郎': 'active'}

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
  print(i,":",a[i])

0 : Mary
1 : had
2 : a
3 : little
4 : lamb

In [ ]:
range(10)

range(0, 10)

In [ ]:
sum(range(4))

6

In [ ]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
  else:
    # loop fell through without finding a factor
    print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
round(1.45, 1)

1.4

In [ ]:
lis1 = [1,2,3,4,5,6,11,8,9,10]
max(lis1)

11

In [ ]:
min(lis1)

1

In [ ]:
abs(-2.4578)

2.4578

In [ ]:
sum(lis1)

59

In [ ]:
str1 = "surji"
list(str1)

['s', 'u', 'r', 'j', 'i']

In [ ]:
ex = [3, 7, 5, 9, 1]
list(enumerate(ex, start=1
               ))

[(1, 3), (2, 7), (3, 5), (4, 9), (5, 1)]

In [ ]:
lis1 = [2,3,5,7]
lis2 = ['a','b','c','d']
list(zip(lis2, lis1))
dict(zip(lis2, lis1))

{'a': 2, 'b': 3, 'c': 5, 'd': 7}

In [ ]:
eval('[2,3,4,6]')

[2, 3, 4, 6]

In [ ]:
eval("print('hello')")

hello

In [ ]:
exec("ex=[1,2,3]\nprint(ex)")

[1, 2, 3]

In [ ]:
abs(1+2j)

2.23606797749979

In [ ]:
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True

all(["neha", 1, "suraj", 4, (1+2j), True])

True

In [ ]:
any(["neha", 1, "suraj", 4, (1+2j)])

True

In [ ]:
my_list = list([1,2,3])
print("my_list - ", my_list)
print("my_list[0] - ", my_list[0])

my_list -  [1, 2, 3]
my_list[0] -  1

In [ ]:
my_dict = dict(a=1, b=2, c=3)
print("my_dict - ", my_dict)

my_dict -  {'a': 1, 'b': 2, 'c': 3}

In [ ]:
my_set = set(my_dict)
print("my_set - ", my_set)

my_set -  {'b', 'c', 'a'}

In [ ]:
my_tuple = tuple(my_set)
print("my_tuple - ", my_tuple)

my_tuple -  ('b', 'c', 'a')

In [ ]:
my_string = "Hello, World!"
print("my_string - ", my_string)

my_string -  Hello, World!

In [ ]:
my_int = int(14)
print("my_int - ", my_int)

my_int -  14

In [ ]:
my_int = 42
my_string = str(my_int)
print("Type casting from int to str: ", type(my_string), type(my_int))

Type casting from int to str:  <class 'str'> <class 'int'>

In [ ]:
my_string = '42'
my_int = int(my_string)
print("Type casting from str to int: ", type(my_string), type(my_int))

Type casting from str to int:  <class 'str'> <class 'int'>

In [ ]:
my_list = [1, 2, 3, 3]
my_set = set(my_list)
print("Type casting from list to set: ", type(my_list), type(my_set))
print(my_set)

Type casting from list to set:  <class 'list'> <class 'set'>
{1, 2, 3}

In [ ]:
my_set = {1, 2, 3, 3}
my_list = list(my_set)
print("Type casting from set to list: ", type(my_set), type(my_list))
print(my_list)

Type casting from set to list:  <class 'set'> <class 'list'>
[1, 2, 3]

In [ ]:
my_list.index(3)

2

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.get('a')

1

In [ ]:
str1 = "Shreenidhi"
str1.count('e')

2

In [ ]:
my_string = "Hello, world!"
index = my_string.find("world")
print(index)

7

In [ ]:
sn = input()

1 2 find look seek

In [ ]:
my_set = set(sn.split(" "))
print(my_set)

{'2', 'seek', 'look', 'find', '1'}

In [ ]:
len(my_set)

5

In [ ]:
dct = eval(input())
val = eval(input())
dct.update(val)
print(dct)

{'name': 'xyz', 'age': 27, 'salary': 50000}
{'manager': 'abc'}
{'name': 'xyz', 'age': 27, 'salary': 50000, 'manager': 'abc'}

In [ ]:
tup = input()
item = input()
tup_new = tuple(tup.split(','))
my_list = list(tup_new)
my_list.remove(item)
tup_new = tuple(my_list)
print(tup_new)

a,b,c,d,e,f,g
f
('a', 'b', 'c', 'd', 'e', 'g')

In [ ]:
my_list = ['cat', 'dog', 'bear', "Dog"]
print(max(my_list))

dog

In [ ]:
my_list = ['cat', 'dog', 'elephant', 'bear']
print(min(my_list))

bear

In [ ]:
len(input("string"))

stringneha gupta

10

In [ ]:
string = "      NeHa Gupta Is           "
string.strip()

'NeHa Gupta Is'

In [ ]:
# sorted() - Lists, tuple, set. Doctionary
# append() - Lists
# update() - Dictionary
# replace() - String
# extend() - Lists (iterable - list, tuple, set, string or any other)

In [ ]:
# insert(): Adds an element at a specified position.
list1 = [1, 2, 3]
list1.insert(1, 4)
print(list1)

[1, 4, 2, 3]

In [ ]:
# setdefault(): Updates the dictionary with specified key-value pairs.
dict1 = {'a': 1, 'b': 2}
dict1.setdefault('c', 3)
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
ex = {'a' :1 , 'b':2}
ex.setdefault('a',"None")
print(ex)

{'a': 1, 'b': 2}

In [ ]:
ex1 = {'a' :1 , 'b':2}
ex1.setdefault('c',"None")
print(ex1)

{'a': 1, 'b': 2, 'c': 'None'}

In [ ]:
lis1 = [1,2,3]
del lis1[0]
print(lis1)

[2, 3]

In [ ]:
str1 = "Hello Python"
str1.upper()
str1.lower()

Even number or Odd number

Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [ ]:
number = int(input())
if number % 2 == 0:
  print("This is an even number.")
else:
  print("This is an odd number.")

6
This is an even number.

Sum and check the digit length

Write a Python program to compute and print sum of two given integers (more than or equal to zero). If given integers or the sum have more than 80 digits, print "Overflow!".

In [ ]:
num1 = int(input())
num2 = int(input())
sum1 = num1 + num2
if num1>=10**80 or num2>=10**80 or sum1>=10**80:
  print("Overflow!")
else:
  print(sum1)

22
25
47

Armstrong Number

In [ ]:
# Input the number to be checked
number = int(input())
k = 0
count = 0
m = []

# count lenght of digit of given value
l = len(str(number))

# Iterate over the digits of the number
for i in str(number):
  k = k + (int(i)**l)
  m.append(k)
  k = 0

# add value in list
for j in m:
  count = count+j

if count == number:
    print("Number is Armstrong")
else:
    print("Number is not Armstrong")

370
Number is Armstrong

Calculate Euclidean distance

Write a Python program to calculate Euclidean Distance.

In [ ]:
# take input from the user
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())

# calculate distance
PQ = ((x2-x1)**2 + (y2-y1)**2)**0.5

# print distance
print(f"The Euclidean Distance between the above given two points 'PQ' = {PQ}")

6
7
5
4
The Euclidean Distance between the above given two points 'PQ' = 3.1622776601683795

Largest element of list

Write a Python program to get the largest number from a list.

In [ ]:
lis1 = eval(input())
max1 = max(lis1)
print(max1)

[1,2,-8,0]
2

In [ ]:
num = eval(input())
str1 = "emp"
new_lis1 = []

for i in num:
    new_lis1.append(str1+str(i))

print(new_lis1)

[1,2,3,4]
['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
a = 10
b = 6
sum = a + b
if 15 < sum < 20:
  print(20)
else:
  print(sum)

20

### Write a Python program to check the weather of a city, if it is positive, negative or zero.

In [ ]:
weather = int(input())
if weather == 0:
  print("It is a zero number")
elif weather < 0:
  print("It is a negative number")
else:
  print("It is a positive number")

50
It is a positive number

In [ ]:
def weather(num):
  if num == 0:
    print("It is a zero number")
  elif num < 0:
    print("It is a negative number")
  else:
    print("It is a positive number")
  return

print(weather(int(input())))

-50
It is a negative number
None

### Biggest even number

Write a Python program to find the biggest even number between two numbers inclusive.

In [ ]:
m = int(input())
n = int(input())
lis1 = []

for i in range(m,n+1):
  if i % 2 == 0:
    lis1.append(i)

print(max(lis1))

11
22
22

In [ ]:
def maxeve(m, n):
  eve_lis1 = []
  for i in range(m,n+1):
    if i % 2 == 0:
      eve_lis1.append(i)
  return max(eve_lis1)

print(maxeve(int(input()), int(input())))

12
22
22

### Numbers below threshold

Write a Python program to find the indexes of numbers of a given list below a given threshold.

In [ ]:
list1 = eval(input())
new_list1 =[]
threshold = int(input())

for i in list1:
  if i < threshold:
    new_list1.append(list1.index(i))

print(new_list1)

[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
100
[0, 1, 2, 3, 7, 8, 9, 10]

In [ ]:
def index(list1, threshold):
  new_list1 =[]
  for i in list1:
    if i < threshold:
      new_list1.append(list1.index(i))
  return new_list1

print(index(eval(input()), int(input())))

[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
100
[0, 1, 2, 3, 7, 8, 9, 10]

### Remove NONE

Write a Python program to remove None value from a given list. (Using list comprehension)

In [ ]:
list2 = eval(input())

for i in list2:
  if i == None:
    list2.remove(i)

print(list2)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
list2 = eval(input())
list2 = [i for i in list2 if i != None]
print(list2)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
def removenone(list2):
  list2 = [i for i in list2 if i != None]
  return list2

print(removenone(eval(input())))

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

### Indexes of None

Write a Python program to find the indexes of all None items in a given list.

In [ ]:
list3 = eval(input())
new_list = []

for i in range(0, len(list3)):
  if list3[i] == None:
    new_list.append(i)

print(new_list)

[1, None, 5, 4,None, 0, None, None]
[1, 4, 6, 7]

# Remove specific word

## Write a Python program to remove specific words from a given list. (Using List comprehension)

In [ ]:
list4 = eval(input())
list2 = eval(input())

for i in list4:
  for j in list2:
    if i == j:
      list4.remove(i)..0

print(list4)

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
['red', 'green', 'blue', 'black']

In [ ]:
a = 9
b = 2

print(f"value of a is : {a}")
print(f"value of b is : {b}")

a = a + b
b = a - b
a = a - b

print("After swapping")
print(f"value of a is : {a}")
print(f"value of b is : {b}")

value of a is : 9
value of b is : 2
After swapping
value of a is : 2
value of b is : 9

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.reverse()

In [ ]:
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
"-",join("to be or not to be")

NameError: name 'join' is not defined

## Product of list elements

## Alex is solving algebra equations and now wants to multiply each root value. Thus, write a Python program to multiply all the items in a list.

In [ ]:
def prod_mul(list1):
  count = 1
  for i in list1:
    count = count * i
  return int(count)

print(prod_mul(eval(input())))

[1,2,-8]
-16

In [ ]:
import numpy
list1 = [1, 2, -8]

result1 = numpy.prod(list1)
print(result1)

-16

In [ ]:
import math
list1 = [1, 2, -8]
result1 = math.prod(list1)
print(result1)

-16

## While Loop
#### 1. Print numbers from 1 to 100
#### 2. Print numbers from 100 to 1
#### 3. Print numbers from 1 to 100the multiplication table of a number n
#### 4. Print the elements of the following list using a loop:
####    [1,4,9,16,25,49,64,81,100]
#### 5. Search for a number x in this tuple using loop:
####    [1,4,9,16,25,49,64,81,100]

In [ ]:
num = 1

while num <= 100:
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
num = 100

while num >= 1:
  print(num)
  num = num - 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n = int(input("Enter Table of : "))
i = 1

while i <= 10:
  print(n*i)
  i = i + 1

Enter Table of : 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
i = 1
list1 = []

while i <= 10:
  list1.append(i**2)
  i = i + 1

print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list2 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
i = 0

while i < len(list2):
  print(list2[i])
  i = i + 1

1
4
9
16
25
36
49
64
81
100

In [ ]:
tup = tuple(list1)
n = int(input("Enter a Value : "))
i = 0 #intialization

while i < len(tup):
  if (tup[i] == n):
    print("Found at index : ", i)
    break                             #used to terminate the loop when encountered
  else:
    print("finding.....!")
  i = i + 1

Enter a Value : 49
finding.....!
finding.....!
finding.....!
finding.....!
finding.....!
finding.....!
Found at index :  6

## Mails by Mary

#### Write a Python program for Mary to help her send emails to clients addressing their last name first, followed by their first name. For this, the program should accept the user's first and last names and thereby print them in reverse order with a space between them.

In [ ]:
fname = input()
lname = input()

print(f"Hello {lname} {fname}")

Danny
Bonne
Hello Bonne Danny

## Write function to get maximum number

####Write a Python function to find the Max of three numbers.

In [ ]:
def maxofthree(a, b, c):
  if a > b and a > c:
    return a
  elif b > a and b > c:
    return b
  else:
    return c

print(maxofthree(int(input()), int(input()), int(input())))

# Break and Continue Keywords

#### Break : loop me jahan break likh denge wahi loop ruk jaayega
#### Continue : Current iteration ko terminate kar deta hai & next loop par chala jata hai

In [ ]:
i = 1

while i <= 10:
  print(i)
  if (i == 5):
    break
  i = i + 1

print("end of loop")

1
2
3
4
5
end of loop

In [ ]:
i = 0

while i <= 10:
  if i == 5:
    i = i + 1
    continue
  print(i)
  i = i + 1

0
1
2
3
4
6
7
8
9
10

In [ ]:
i = 1

while i <= 10:
  if i % 2 == 0:
    i = i + 1
    continue
  print(i)
  i = i + 1

1
3
5
7
9

## Take a string as a input and print odd index as output using python

In [ ]:
strng = input()
i = 0
leng = len(strng)-1

while i <= leng:
  if i % 2 == 0:
    i = i + 1
    continue
  print(strng[i])
  i = i + 1

data science
a
a
s
i
n
e

In [ ]:
def oddindex(strng):
  new_strng = strng[0::2]
  return new_strng

print(oddindex(input()))

data science
dt cec

In [ ]:
for i in range(0,4,2):
  print(i)

0
2

In [ ]:
str1 = "apnacollege"

for char in str1:
  if char == "e":
    print("e found")
    break
  print(char)
else:
  print("End")

a
p
n
a
c
o
l
l
e found

### Print the element of the following list using a loop:
    [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list1 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for i in list1:
  print(i)
else:
  print("end")

1
4
9
16
25
36
49
64
81
100
end

### Search for a number x in this tuple using loop:

    (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [ ]:
tup1 = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 25)
nums = int(input())

idx = 0

for i in tup1:
  if i == nums:
    print("number found in tuple at idx.", idx)
    break
  idx = idx + 1

25
number found in tuple at idx. 4

### Range(start?, stop, step?)

In [ ]:
def printnum(start, stop, step):
  for i in range(start, stop+1, step):
    print(i)

printnum(1, 101, 1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
def rev_print(start, stop, step):
  for i in range(start, stop, step):
    print(i)

rev_print(100, 0, -1)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
def mul(a):
  for i in range(1, 11):
    print(f"{a} * {i} =", a*i)

mul(int(input("Print table for : ")))

Print table for : 14
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

## Pass Statement -

#### pass is a null statement that does nothing. It is used as a placeholder for future code

In [ ]:
for i in range(5):
  pass

print("some useful work")

some useful work

### WAP to find the sum of first n (natural) numbers (using while loop)

In [ ]:
list1 = [14, 16, 18, 20, 25, 78, 90, 101]
sum = 0
i = 0

while i <= (len(list1)-1):
  sum = sum + list1[i]
  i += 1

print("Sum of : ", sum)

Sum of :  362

### WAP to find the factorial of first n numbers (using for loop)

In [ ]:
n = 4
i = 1
factorial = 1

while i <= n:
  factorial = factorial * i
  i = i + 1

print("factorial of {n}! = ", factorial)

factorial of {n}! =  24

In [ ]:
n = 5
i = 1
factorial = 1

for i in range(1, n+1):
  factorial = factorial * i

print("factorial of {n}! = ", factorial)

factorial of {n}! =  120

### Largest element of list

Write a Python program to get the largest number from a list.

In [ ]:
def lar_num(list1):
  lar_num = list[0]
  for i in list1:
    if i > lar_num:
      lar_num = i
  return lar_num

list1 = eval(input())
print(lar_num(list1))

[1, 2, -8, 0]
2

### Print every nth element

Write a Python program to get the every nth element in a given list.

In [ ]:
list1 = eval(input())
n = int(input())
new_list = []

for i in range(1, len(list1), n):
  new_list.append(list1[i])

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
[2, 4, 6, 8, 10]

In [ ]:
a = [14, 15, 16, 20, 25]
total = sum(a)              #Use a different variable name to store the result
print(total)

TypeError: 'int' object is not callable

### Which method can be used to check if a list contains a specific element in Python?

In [ ]:
i = 0
while i < 5:
    if i % 2 == 0:
        print(i)
    i += 1

0
2
4

In [ ]:
for i in range(3, 10, 2):
    print(i)

3
5
7
9

In [ ]:
list1 = [9,8,7]
result = list1 * 2
print(result)

[9, 8, 7, 9, 8, 7]

In [ ]:
my_list = ['cat', 'dog', 'bear', "Dog"]
print(max(my_list))

dog

In [ ]:
x = -5
y = 10
if x > 0:
    if y > 0:
        print("x and y are both positive")
    else:
        print("x is positive and y is non-positive")
else:
    print("x is non-positive")

x is non-positive

In [ ]:
dict1 = {"a" : 2, "b" : 3}
value = dict1.get("c", 4)
print(value)

4

In [ ]:
x = 5
y = "5"
if x == y:
    print("x is equal to y")
else:
    print("x is not equal to y")

x is not equal to y

In [ ]:
my_list = ['cat', 'dog', 'bear', "Dog"]
my_list[::-2]

['Dog', 'dog']

In [ ]:
list1 = [1, 2, 3, 4, 5]
print(list1[3:])

[4, 5]

In [ ]:
x=1

y=1

a = (x/(x+y)*x)*(x+y)

print(a)

1.0

In [ ]:
for i in range(1, 6):
    if i % 2 == 0:
        continue
    print(i)

1
3
5

In [ ]:
my_list = [5, 2, 7, 1, 9]
print(max(my_list))

9

In [ ]:
print(3**4)

81

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.get("d", 0))

0

In [ ]:
my_dict = {"red": 2, "blue": 3, "green": 4}
del my_dict["red"]
print(my_dict)

{'blue': 3, 'green': 4}

In [ ]:
x = 10
if x < 5:
    print("x is less than 5")
elif x > 15:
    print("x is greater than 15")
else:
    print("x is between 5 and 15")

x is between 5 and 15

In [ ]:
score = 85
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else:
    grade = "C"

In [ ]:
i = 0
while i < 5:
   print(i)
   i+=1

0
1
2
3
4

In [ ]:
sentence="Data Science is a pretty interesting subject"

print(type("sentence"))

<class 'str'>

In [ ]:
sentence=("My name is Ami. Ami is my friend. Ami loves to play guitar")
print(sentence.count('Ami'))

3

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[3:6])

(4, 5)

In [ ]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    if number == 3:
        continue
    print(number)

1
2
4
5

In [ ]:
for i in range(10):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8

In [ ]:
i = 10
while i > 0:
    print(i)
    i -= 2

10
8
6
4
2

In [ ]:
print(list(range(3)))

[0, 1, 2]

In [ ]:
tuple1=(10,20,30,40,50)
print(tuple1[-3:])

(30, 40, 50)

In [ ]:
languages=["Python", "Java", "C", "C++"]
for language in languages:
    print(language)

Python
Java
C
C++

In [ ]:
print(len("Pseudopodia"))

11

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.keys())

dict_keys(['a', 'b', 'c'])

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
for i in range(2):
    for j in range(2, 4):
        print(i+j)

2
3
3
4

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)

1
2

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4:2])

[2, 4]

In [ ]:
len("Almabetter")

10

In [ ]:
sentence=("Data Science")
sentence.count('Data')

1

In [ ]:
sentence="Data Science is an interesting course"
print("interesting" in sentence)

True

In [ ]:
my_dict = {"red": 2, "blue": 3, "green": 4}
print(len(my_dict))

3

In [ ]:
my_list = [3, 7, 1, 5, 2]
print(sorted(my_list))

[1, 2, 3, 5, 7]

In [ ]:
print("Almabetter")

Almabetter

In [ ]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []
for num in numbers:
    new_numbers.append(num * 2)
print(new_numbers)

[2, 4, 6, 8, 10]

In [ ]:
x = 5
y = 5
if x > y:
    print("x is greater than y")
elif x == y:
    print("x is equal to y")
else:
    print("y is greater than x")

x is equal to y

In [ ]:
string1 = "Data"
string2 = "Science"
result = string1 + " " + string2
print(result)

Data Science

In [ ]:
x = 10
y = 5
if x > y:
  print("x is greater than y")
else:
  print("y is greater than x")

x is greater than y

In [ ]:
for i in range(1, 6):
    if i % 2 == 0:
        print(i)

2
4

In [ ]:
print(4+10/5)

6.0

In [ ]:
list1=[1,2,3,4,5]
print(list1[1])

2

15

In [ ]:
sum(list1)

15

In [ ]:
str1 = "AlmaBetter is a good place"
str1.split(" ")

['AlmaBetter', 'is', 'a', 'good', 'place']

In [ ]:
a=10
b=3
print(a*b-b)

27

In [ ]:
x = 10
if x > 5:
    if x > 8:
        print("x is greater than 8")
    else:
        print("x is greater than 5 but less than or equal to 8")
else:
    print("x is less than or equal to 5")

x is greater than 8

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(len(my_set))

0

In [ ]:
list1 = [1,1,0,1,0]
print(sum(list1))

3

In [ ]:
x = 10
y = 5
if x > y and x > 0:
    print("x is greater than y and positive")

x is greater than y and positive

In [ ]:
set_a = {1,2,6}
set_b = {1,2,8}
print(set_a - set_b)

{6}

In [ ]:
string="Almabetter!"
print(string[-1])

!

In [ ]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
my_string = "hello world"
print(my_string[-5:-2])

wor

In [ ]:
sentence="Data Science is a pretty interesting subject"

print(type("sentence"))

<class 'str'>

In [ ]:
set_a = {1,2,6}
set_b = {1,2,8}
print(set_a & set_b)

{1, 2}

In [ ]:
x = 10
if x < 5:
    print("x is less than 5")
elif x > 15:
    print("x is greater than 15")

In [ ]:
5 + 10.5

15.5

In [ ]:
my_tuple = (1, 2, 3, 4)
for i in range(len(my_tuple)):
    print(my_tuple[i])

1
2
3
4

## Enumerate()

In [ ]:
ex = [8,9,10,11,15]
list(enumerate(ex))

[(0, 8), (1, 9), (2, 10), (3, 11), (4, 15)]

In [ ]:
list1 = [2,3,5,6,7]
list2 = [5,6,9,8]
list3 = [5,7,8]
list(zip(list1, list2, list3))

[(2, 5, 5), (3, 6, 7), (5, 9, 8)]

In [ ]:
list1 = list(range(1,6,1))
list1[5:4]

[]

In [ ]:
title = 'Us and them'
title.split(' ')

'nine and them'

In [ ]:
votes = {'red' : 3, 'blue' : 4, 'green' : 1}
votes.get('red')

3

In [ ]:
import time
time.sleep(60)
print("Python Lab")

Python Lab

In [ ]:
#2. all() - This function returns true if all items in an iterable object are true
# syntax = all(iterable)
# Example 3
set1 = {True,False,True}
x= all(set1) # Here for the given set, one element is false. Hence output is false
print(x)

False

In [ ]:
#26. globals() - This function returns the global symbol table as a dictionary.
#syntax = globals()
x = globals()
print(x)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'ex = [8,9,10,11,15]\nlist(enumerate(ex))', 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8,1]\nlist(zip(list1, list2))', 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8]\nlist(zip(list1, list2))', 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8]\nlist3 = [5,7,8]\nlist(zip(list1, list2, list3))', 'list(range(1,6,1))', "title = 'Us and them'\ntitle.split(' ')", "title = 'Us and them'\ntitle.split()", "title = 'Us and them'\ntitle.split()", "title = 'Us and them'\ntitle[2]", "title = 'Us and them'\nlen(title)", "title = 'Us and them'\n'. '.join(title)", "title = 'Us and them'\n''.join(title)", "title = 'Us and them'\n' '.join(title)", "title = 'Us and them'\n'-'.join(title)", "title = 'Us and them'\n'@'.join(title)", "title = 'Us and them'\n'.'.join(title)", "title = 'Us and them'\nnine = str(9)", 'type(nine)', "title = 'Us and them'\nnine = str(9)title.replace('Us', nine)", "title = 'Us and them'\nnine = title.replace('Us', nine)", "title = 'Us and them'\ntitle.replace('Us', nine)", "title = 'Us and them'\ntitle.replace('Us', 'nine')", "votes = {'red' : 3, 'blue' : 4, 'green' : 1}\nvotes.get('red')", 'import time\ntime.sleep(6)\nprint("Python Lab")', 'import time\ntime.sleep(6)\nprint("Python Lab")', 'import time\ntime.sleep(60)\nprint("Python Lab")', 'inp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', '# 1. abs() - This function returns the absolute value of a number.\n# syntax = abs(number)\ninp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 1\nL1 = [0,1,1]\nx= all(L1) # Here the given list has 0 which is false. Since there is one false, output is false.\nprint(x)', "#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 2\ntup1 = (1,1,1)\nx=all(tup1) # Here for the given tuple has all 1's which are true. Hence output is True.\nprint(x)", '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 3\nset1 = {True,False,True}\nx= all(set1) # Here for the given set, one element is false. Hence output is false\nprint(x)', '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)', '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)'], '_oh': {1: [(0, 8), (1, 9), (2, 10), (3, 11), (4, 15)], 2: [(2, 5), (3, 6), (5, 9), (6, 8), (7, 1)], 3: [(2, 5), (3, 6), (5, 9), (6, 8)], 4: [(2, 5, 5), (3, 6, 7), (5, 9, 8)], 5: [1, 2, 3, 4, 5], 6: ['Us', 'and', 'them'], 7: ['Us', 'and', 'them'], 8: ['Us', 'and', 'them'], 9: ' ', 10: 11, 11: 'U. s.  . a. n. d.  . t. h. e. m', 12: 'Us and them', 13: 'U s   a n d   t h e m', 14: 'U-s- -a-n-d- -t-h-e-m', 15: 'U@s@ @a@n@d@ @t@h@e@m', 16: 'U.s. .a.n.d. .t.h.e.m', 18: <class 'str'>, 21: '9 and them and them', 22: 'nine and them', 23: 3}, '_dh': ['/content'], 'In': ['', 'ex = [8,9,10,11,15]\nlist(enumerate(ex))', 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8,1]\nlist(zip(list1, list2))', 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8]\nlist(zip(list1, list2))', 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8]\nlist3 = [5,7,8]\nlist(zip(list1, list2, list3))', 'list(range(1,6,1))', "title = 'Us and them'\ntitle.split(' ')", "title = 'Us and them'\ntitle.split()", "title = 'Us and them'\ntitle.split()", "title = 'Us and them'\ntitle[2]", "title = 'Us and them'\nlen(title)", "title = 'Us and them'\n'. '.join(title)", "title = 'Us and them'\n''.join(title)", "title = 'Us and them'\n' '.join(title)", "title = 'Us and them'\n'-'.join(title)", "title = 'Us and them'\n'@'.join(title)", "title = 'Us and them'\n'.'.join(title)", "title = 'Us and them'\nnine = str(9)", 'type(nine)', "title = 'Us and them'\nnine = str(9)title.replace('Us', nine)", "title = 'Us and them'\nnine = title.replace('Us', nine)", "title = 'Us and them'\ntitle.replace('Us', nine)", "title = 'Us and them'\ntitle.replace('Us', 'nine')", "votes = {'red' : 3, 'blue' : 4, 'green' : 1}\nvotes.get('red')", 'import time\ntime.sleep(6)\nprint("Python Lab")', 'import time\ntime.sleep(6)\nprint("Python Lab")', 'import time\ntime.sleep(60)\nprint("Python Lab")', 'inp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', '# 1. abs() - This function returns the absolute value of a number.\n# syntax = abs(number)\ninp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 1\nL1 = [0,1,1]\nx= all(L1) # Here the given list has 0 which is false. Since there is one false, output is false.\nprint(x)', "#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 2\ntup1 = (1,1,1)\nx=all(tup1) # Here for the given tuple has all 1's which are true. Hence output is True.\nprint(x)", '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 3\nset1 = {True,False,True}\nx= all(set1) # Here for the given set, one element is false. Hence output is false\nprint(x)', '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)', '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)'], 'Out': {1: [(0, 8), (1, 9), (2, 10), (3, 11), (4, 15)], 2: [(2, 5), (3, 6), (5, 9), (6, 8), (7, 1)], 3: [(2, 5), (3, 6), (5, 9), (6, 8)], 4: [(2, 5, 5), (3, 6, 7), (5, 9, 8)], 5: [1, 2, 3, 4, 5], 6: ['Us', 'and', 'them'], 7: ['Us', 'and', 'them'], 8: ['Us', 'and', 'them'], 9: ' ', 10: 11, 11: 'U. s.  . a. n. d.  . t. h. e. m', 12: 'Us and them', 13: 'U s   a n d   t h e m', 14: 'U-s- -a-n-d- -t-h-e-m', 15: 'U@s@ @a@n@d@ @t@h@e@m', 16: 'U.s. .a.n.d. .t.h.e.m', 18: <class 'str'>, 21: '9 and them and them', 22: 'nine and them', 23: 3}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7beb52651f90>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7beb52652530>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7beb52652530>, '_': 3, '__': 'nine and them', '___': '9 and them and them', '_i': '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)', '_ii': '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 3\nset1 = {True,False,True}\nx= all(set1) # Here for the given set, one element is false. Hence output is false\nprint(x)', '_iii': "#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 2\ntup1 = (1,1,1)\nx=all(tup1) # Here for the given tuple has all 1's which are true. Hence output is True.\nprint(x)", '_i1': 'ex = [8,9,10,11,15]\nlist(enumerate(ex))', 'ex': [8, 9, 10, 11, 15], '_1': [(0, 8), (1, 9), (2, 10), (3, 11), (4, 15)], '_i2': 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8,1]\nlist(zip(list1, list2))', 'list1': [2, 3, 5, 6, 7], 'list2': [5, 6, 9, 8], '_2': [(2, 5), (3, 6), (5, 9), (6, 8), (7, 1)], '_i3': 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8]\nlist(zip(list1, list2))', '_3': [(2, 5), (3, 6), (5, 9), (6, 8)], '_i4': 'list1 = [2,3,5,6,7]\nlist2 = [5,6,9,8]\nlist3 = [5,7,8]\nlist(zip(list1, list2, list3))', 'list3': [5, 7, 8], '_4': [(2, 5, 5), (3, 6, 7), (5, 9, 8)], '_i5': 'list(range(1,6,1))', '_5': [1, 2, 3, 4, 5], '_i6': "title = 'Us and them'\ntitle.split(' ')", 'title': 'Us and them', '_6': ['Us', 'and', 'them'], '_i7': "title = 'Us and them'\ntitle.split()", '_7': ['Us', 'and', 'them'], '_i8': "title = 'Us and them'\ntitle.split()", '_8': ['Us', 'and', 'them'], '_i9': "title = 'Us and them'\ntitle[2]", '_9': ' ', '_i10': "title = 'Us and them'\nlen(title)", '_10': 11, '_i11': "title = 'Us and them'\n'. '.join(title)", '_11': 'U. s.  . a. n. d.  . t. h. e. m', '_i12': "title = 'Us and them'\n''.join(title)", '_12': 'Us and them', '_i13': "title = 'Us and them'\n' '.join(title)", '_13': 'U s   a n d   t h e m', '_i14': "title = 'Us and them'\n'-'.join(title)", '_14': 'U-s- -a-n-d- -t-h-e-m', '_i15': "title = 'Us and them'\n'@'.join(title)", '_15': 'U@s@ @a@n@d@ @t@h@e@m', '_i16': "title = 'Us and them'\n'.'.join(title)", '_16': 'U.s. .a.n.d. .t.h.e.m', '_i17': "title = 'Us and them'\nnine = str(9)", 'nine': '9 and them', '_i18': 'type(nine)', '_18': <class 'str'>, '_i19': "title = 'Us and them'\nnine = str(9)title.replace('Us', nine)", '_i20': "title = 'Us and them'\nnine = title.replace('Us', nine)", '_i21': "title = 'Us and them'\ntitle.replace('Us', nine)", '_21': '9 and them and them', '_i22': "title = 'Us and them'\ntitle.replace('Us', 'nine')", '_22': 'nine and them', '_i23': "votes = {'red' : 3, 'blue' : 4, 'green' : 1}\nvotes.get('red')", 'votes': {'red': 3, 'blue': 4, 'green': 1}, '_23': 3, '_i24': 'import time\ntime.sleep(6)\nprint("Python Lab")', 'time': <module 'time' (built-in)>, '_i25': 'import time\ntime.sleep(6)\nprint("Python Lab")', '_i26': 'import time\ntime.sleep(60)\nprint("Python Lab")', '_i27': 'inp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', 'inp': -10, 'y': 10, '_i28': '# 1. abs() - This function returns the absolute value of a number.\n# syntax = abs(number)\ninp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', '_i29': '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 1\nL1 = [0,1,1]\nx= all(L1) # Here the given list has 0 which is false. Since there is one false, output is false.\nprint(x)', 'L1': [0, 1, 1], 'x': {...}, '_i30': "#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 2\ntup1 = (1,1,1)\nx=all(tup1) # Here for the given tuple has all 1's which are true. Hence output is True.\nprint(x)", 'tup1': (1, 1, 1), '_i31': '#2. all() - This function returns true if all items in an iterable object are true\n# syntax = all(iterable)\n# Example 3\nset1 = {True,False,True}\nx= all(set1) # Here for the given set, one element is false. Hence output is false\nprint(x)', 'set1': {False, True}, '_i32': '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)', '_i33': '#26. globals() - This function returns the global symbol table as a dictionary.\n#syntax = globals()\nx = globals()\nprint(x)'}

In [ ]:
#27. hasattr() - This function returns true if the specified object has specified attribute.
# syntax = hasattr(object,attribute)
class Student:
    Name = "Ravi"
    Age = 25
    Country = "India"
x = hasattr(Student,"Age") # Since age attribute is present in the object Student. Hence this returns true.
print(x)

True

In [ ]:
str1 = '''Python'''
print(str1.upper())

PYTHON

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.get("d", 0))

0

In [ ]:
if 10 in [0,10,20]:

print("Yes")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-49-0162db9c720c>, line 3)

In [ ]:
my_tuple = (1, 2, 3, 4)
for i in range(len(my_tuple)):
    print(my_tuple[i])

1
2
3
4

In [ ]:
#INput the base and height from the user
b = float(input("Enter the base of the triangle: "))
h = float(input("Enter the height of the triangle: "))
#Calculate the are of the Triangle
area = 0.5*b*h
#Display the result
print(f"The area of the triangle is: {area}")

Enter the base of the triangle: 10
Enter the height of the triangle: 20
The area of the triangle is: 100.0

## WAF to print the length of a list. (list is the parameter)

In [ ]:
cities = ["delhi", "surat", "gurgaon", "noida", "pune", "mumbai", "chennai"]
heroes = ["thor", "ironman", "captain america", "shaktiman"]

def cal_lan(cities, heroes):
  i = 0
  j = 0
  while i < len(cities):
    i = i + 1
  while j < len(heroes):
    j = j + 1

  return i, j

cal_lan(cities, heroes)

(7, 4)

## WAF to print the elements of a list in a single line. (list is the parameter)

In [ ]:
heroes = ["thor", "ironman", "captain america", "shaktiman"]

def print_list(heroes):
  for i in heroes:
    print(i, end = " ")

print_list(heroes)

thor ironman captain america shaktiman

## Mingle to Single

In a competition, participants were given a number to sum its digits until it was a single-digit number. So, write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.

In [ ]:
n = eval(input())
new_list = []
first_ele = min(n)
new_list = new_list.append(first_ele)
sec_ele = max(n)
new_list = new_list.append(sec_ele)
print(first_ele)

[1, 3, 4, 5, 11]

AttributeError: 'NoneType' object has no attribute 'append'

In [ ]:
n = n.remove(first_ele)
    print(new_list)
    secon_ele = max(n)
    new_list = new_list.append(secon_ele)
    n = n.remove(secon_ele)
    print(new_list)

IndentationError: unexpected indent (<ipython-input-27-90183ddc84d6>, line 2)

In [ ]:
n = int(input())
factorial = 1

while n > 1:
  factorial = factorial * n
  n = n - 1

print(factorial)

4
24

In [ ]:
def reversestring(string):
  string = string[::-1]
  return string

reversestring("1234abcd")

'dcba4321'

In [ ]:
#creating a function for list to multiply all elements
def multiplyelements(list1):
  temp = 1
  for i in list1:
    temp = temp * i
  return temp

#take input from user and call function & print output
list1 = eval(input())
print(multiplyelements(list1))

[8, 2, 3, -1, 7]
-336

In [ ]:
#creating a function for list to add all elements
def addelements(list1):
  temp = 0
  for i in list1:
    temp = temp + i
  return temp

#take input from user and call function & print output
list1 = eval(input())
print(addelements(list1))

[8, 2, 3, 0, 7]
20

In [ ]:
#take input from user
month = input()

if month == "January" or month == "March" or month == "May" or month == "July" or month == "August" or month == "October" or month == "December":
  print("No. of days: 31 days")
elif month == "April" or month == "June" or month == "September" or month == "November":
  print("No. of days: 30 days")
elif month == "February":
  print("No. of days: 28/29 days")
else:
  print("Not Month")

March
No. of days: 31 days

In [ ]:
# Write your code here

#take input from user
nums = eval(input())
positive_list = []
second_list = []
for i in nums:
    if i > 0:
        positive_list.append(i)
    elif i == 0:
        pass
    elif i < 0:
        second_list.append(i)

print(positive_list)

[34, 1, 0, -23, 12, -88]
[34, 1, 12]

In [ ]:
def areaofcircle(r):
  area = 3.14159 * r * r
  area = round(area, 4)
  return area

r = float(input())
areaofcircle(r)

1.1

3.8013

In [ ]:
def odd_even(n):
  if n % 2 == 0:
    return "This is an even number"
  else:
    return "This is an odd number"


n = int(input())
print(odd_even(n))

5
This is an odd number

In [ ]:
favorite_movie = []

favorite_movie.append("Titanic")
favorite_movie.extend(["Star Wars", "Star Trek", "Iron Man", "Captain America"])
favorite_movie.insert(1, "The Avengers")
favorite_movie.remove("Star Trek")
favorite_movie.pop()
favorite_movie.sort()
favorite_movie.reverse()

print(favorite_movie)

['Titanic', 'The Avengers', 'Star Wars', 'Iron Man']

# Count how many movies are in the collection using the count() method

In [ ]:
# Count how many movies are in the collection using the count() method
movie_collection = ['The Hulk', 'The Godfather', 'The Shawshank Redemption', 'The Dark Knight', 'Pulp Fiction', 'Goodfellas']
print(movie_collection.count("The Godfather"))

1

In [ ]:
'Hello World'.split(' ')
'Hello World'.encode(encoding='UTF-8',errors='strict')

b'Hello World'

In [ ]:
(lambda x: x**2) (2)

4

In [ ]:
(lambda x, y, z: x+y-z) (2, 3, 4)

1

In [ ]:
(lambda x: 100 if x > 100 else (50 if x > 50 else x))(101)

100

In [ ]:
welcome_msg = lambda name: print("Welcome " + name + "! This is your computer")
welcome_msg("Ravi")

Welcome Ravi! This is your computer

In [ ]:
lambda x, y : x**y
_("Hello", "Neha")

TypeError: 'int' object is not callable

In [ ]:
print(list(map(lambda x: x**2, range(1,11))))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Using lambda find items begin with char.

Write a Python program to find whether a given string starts with a given character using Lambda.

In [ ]:
#Function Signature
def lenght_of_longest_substring(s: str) -> int:
  # Initialize variables
  list_s = []
  max_len = 0

  # Iterate through the string
  for i in range(len(s)):
    #check if the element is not in the list
    if s[i] not in list_s:
      #if not in the list append the element
      list_s.append(s[i])
  #count the length of the list
  max_len = len(list_s)
  #return the max length of the substring
  return max_len

input_str = "pwwkew"
print(lenght_of_longest_substring(input_str))

4

In [ ]:
def length_oflongest_substring(s: str) -> int:
  char_index_map = {}
  max_length = 0
  start = 0

  for end in range(len(s)):
    if s[end] in char_index_map:
      start = max(start, char_index_map[s[end]] + 1)
    char_index_map[s[end]] = end
    max_length = max(max_length, end - start + 1)

  return max_length

input_str = "bppwekw"
print(length_oflongest_substring(input_str))

4

In [ ]:
def adder(*num):
  sum = 0
  for i in num:
    sum = sum + i
  return sum

print(adder(10,15,16,17,20,21)) #arguments passed as tuple
print(adder(10,15,16,17)) #arguments passed as tuple
print(adder(10,15)) #arguments passed as tuple

99
58
25

In [ ]:
def intro(**data):
  print("\nData type of argument:",type(data))

  for key, value in data.items():
    print("{} is {}". format(key, value))

intro(Firstname="Sita", Lastname="Sharma", Age=25, Country="India")

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 25
Country is India

## Find closest palindrome

Write a Python program to find the closest palindrome from a given string.

In [ ]:
def palindrome(n):
  if n == n[::-1]:
    return True
  else:
    return False



n = input()
palindrome(n)

cac

True

In [ ]:
list1 = ['This is', 'the only tool']
list2 = ['that', 'lets', 'you', 'visually']
print(' '.join(list1 + list2))

This is the only tool that lets you visually

In [ ]:
dict1 = {"a": 1, "b": 2, "c": 3}
len(dict1)

3

In [ ]:
list2 = ['that', 'lets', 'you', 'visually']
list2.index('lets')

1

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(2)
print(my_set)

{1, 3, 4, 5}

In [ ]:
number = 25
if number < 10:
    print("Single-digit number.")
elif number >= 10 and number <= 99:
    print("Double-digit number.")
else:
    print("Large number.")

Double-digit number.

In [ ]:

number = 25
if number < 10:
    print("Single-digit number.")
elif 10 <= number <= 99:
    print("Double-digit number.")
else:
    print("Large number.")

Double-digit number.

In [ ]:
number = 25
if number < 10:
    print("Single-digit number.")
if 10 <= number <= 99:
    print("Double-digit number.")
else:
    print("Large number.")

Double-digit number.

In [ ]:
age = 25
if age < 13:
    print("Child.")
if age >= 13 and age <= 19:
    print("Teenager.")
if age >= 20:
    print("Adult.")

Adult.

In [ ]:
import random
# library that we use in order to choose
# on random words from a list of words

name = input("What is your name? ")

# Here the user is asked to enter the name first

print("Good Luck ! ", name)

words = ['rainbow', 'computer', 'science', 'programming',
         'python', 'mathematics', 'player', 'condition',
         'reverse', 'water', 'board', 'geeks']

# Function will choose one random
# word from this list of words
word = random.choice(words)


print("Guess the characters")

guesses = ''

# any number of turns can be used here
turns = 12


while turns > 0:

    # counts the number of times a user fails
    failed = 0

    # all characters from the input
    # word taking one at a time.
    for char in word:

        # comparing that character with
        # the character in guesses
        if char in guesses:
            print(char, end=" ")

        else:
            print("_")

            # for every failure 1 will be
            # incremented in failure
            failed += 1

    if failed == 0:
        # user will win the game if failure is 0
        # and 'You Win' will be given as output
        print("You Win")

        # this print the correct word
        print("The word is: ", word)
        break

    # if user has input the wrong alphabet then
    # it will ask user to enter another alphabet
    print()
    guess = input("guess a character:")

    # every input character will be stored in guesses
    guesses += guess

    # check input with the character in word
    if guess not in word:

        turns -= 1

        # if the character doesn’t match the word
        # then “Wrong” will be given as output
        print("Wrong")

        # this will print the number of
        # turns left for the user
        print("You have", + turns, 'more guesses')

        if turns == 0:
            print("You Loose")

In [ ]:
dict1 = {"a": 1, "b": 2, "c": 3}
x = dict1.items()
print(x)

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
fruits = ['apples', 'oranges', 'bananas']
x = list(enumerate(fruits))
print(x)

[(0, 'apples'), (1, 'oranges'), (2, 'bananas')]

In [ ]:
for i, fruit in x:
    print('the ' + fruit + ' are in position ' + str(i))

the apples are in position 0
the oranges are in position 1
the bananas are in position 2

In [ ]:
x = int(input("Please enter an integer: "))
#Please enter an integer: 42
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 42
More

In [ ]:
num = int(input())
rem = num
list1 = []
list2 = []
count = 0

while rem != 0:
  count = rem % 10
  list1.append(count)
  rem = rem // 10
  sum1 = sum(list1)

print(f"Step-1 Sum: {sum1}")

rem = sum1

while rem != 0:
  count = rem % 10
  list2.append(count)
  rem = rem // 10
  sum2 = sum(list2)

print(f"Step-2 Sum: {sum2}")

7548
Step-1 Sum: 24
Step-2 Sum: 6

remove odd index character

Write a Python program to decode a message for security officials by removing the characters which have odd index values of a given string.

In [ ]:
str1 = input()

for i in range(len(str1)):
  if i % 2 == 0:
    print(str1[i], end="")

data science
dt cec

##check whether a number is prime or not

**Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.**

In [ ]:
# Write your code here

def is_prime(num):
  if num == 1:
    return False
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        return False
        break
    else:
      return True

num = int(input())
is_prime(num)

9

False

##Find closest palindrome

Write a Python program to find the closest palindrome from a given string.

In [ ]:
str1 = input()
a = ""
b = ""

if str1 == str1[::-1]:
  print("Palindrome")

elif len(str1) % 2 == 0:
  a = str1[0:int(len(str1)/2)]
  b = str1[int(len(str1)/2):]
  a = a[::-1]
  for i in range(len(a)):
    if a[i] != b[i]:
      print(a[::-1] + b.replace(b[i], a[i]))

elif len(str1) % 2 != 0:
  a = str1[0:int(len(str1)/2)]
  b = str1[int(len(str1)/2)+1:]
  c = str1[int(len(str1)/2)]
  a = a[::-1]
  for i in range(len(a)):
    if a[i] == b[i]:
      continue
    else:
      print(a[::-1] + c + b.replace(b[i], a[i]))

madan
madam

In [ ]:
# Write your code here

def test(s):
    count = 0
    # Count mismatched characters from the string and its reverse
    for i, c in enumerate(s):
        if c != s[~i]:
            count += 1

    # If the count of mismatches is odd
    if count % 2 == 1:
        half = count // 2
        pal = "".join((s[i] if i < half else s[~i] for i in range(len(s))))
        return pal
    # If the count of mismatches is even
    else:
        half = count // 2
        pal = "".join((s[i] if i <= half else s[~i] for i in range(len(s))))
        return pal

# Example usage
s = input()
print(test(s))

delhai
delhed

In [ ]:
weight = float(input())
destination = input()

if destination == 'domestic':
  if weight <= 1:
    print(50)
  else:
    SC = 50 + (weight - 1) * 10
    print (SC)

elif destination == 'international':
  if weight <= 1:
    print(500)
  else:
    SC = 500 + (weight - 1) * 100
    print (SC)

40
domestic
440.0

In [ ]:
#Ask the user for car price
car_price = float(input())

#check if the car price is less than 10,00,000
if car_price < 1000000:
  discounted_price = car_price
  print("No discount")

elif 1000000 <= car_price < 2000000:
  discounted_price = (car_price * 5)/100
  original_price = car_price - discounted_price
  print(f"Discount: {discounted_price}")
  print(f"Original Price: {original_price}")

elif 2000000 <= car_price < 3000000:
  discounted_price = (car_price * 7.5)/100
  original_price = car_price - discounted_price
  print(f"Discount: {discounted_price}")
  print(f"Original Price: {original_price}")

else:
  discounted_price = (car_price * 10)/100
  original_price = car_price - discounted_price
  print(f"Discount: {discounted_price}")
  print(f"Original Price: {original_price}")

2500000
Discount: 187500.0
Original Price: 2312500.0

In [ ]:
def toppings(list1):
  for topping in list1:
    print(topping)

list1 = ["pepperoni", "mushrooms", "olives", "sausage"]
toppings(list1)

pepperoni
mushrooms
olives
sausage

In [ ]:
import sys

In [ ]:
sys.getsizeof(toppings)

144

In [ ]:
toppings1 = ["pepperoni", "mushrooms", "olives", "sausage"]
print(toppings1[0])
print(toppings1[1])
print(toppings1[2])
print(toppings1[3])

pepperoni
mushrooms
olives
sausage

In [ ]:
sys.getsizeof(toppings1)

88

In [ ]:
new_toppings = ["bacon", "peppers", "pineapple"]

for topping in new_toppings:
  toppings1.append(topping)

print(toppings1)

['pepperoni', 'mushrooms', 'olives', 'sausage', 'bacon', 'peppers', 'pineapple']

In [ ]:
toppings1.extend(new_toppings[1])
print(toppings1)

['pepperoni', 'mushrooms', 'olives', 'sausage', 'bacon', 'peppers', 'pineapple', 'p', 'e', 'p', 'p', 'e', 'r', 's']

In [ ]:
#Take input from the user
str1 = input()

#initialize a count variable to 0
count = 0

#Loop through each character in the string
for i in str1:
  #Check if the character is a vowel
  if i in "aeiouAEIOU":
    #If it is, increment the count
    count += 1

#Print the count of vowel
print(count)

HarshaGoyal Sharma Holiday
9

In [ ]:
for i in range(15):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14

In [ ]:
tournament = [['Alice', 'Charlie', 'Zoya'], ['Bob', 'Diana', 'Eve'], ['Bob', 'Alice', 'Eve']]
team1 = []
team2 = []
team3 = []

#First loop/Outer loop
for group in tournament:
  #Second loop/Inner loop
  for player in group:
    if player[0] == 'A' or player[0] == 'B':
      team1.append(player)
    elif player[0] == 'C' or player[0] == 'D':
      team2.append(player)
    else:
      team3.append(player)

print(team1)
print(team2)
print(team3)

['Alice', 'Bob', 'Bob', 'Alice']
['Charlie', 'Diana']
['Zoya', 'Eve', 'Eve']

In [ ]:
#take a list of numbers
numbers = [
            [2, 5, 11, 20, 8],
            [9, 4, 15, 28, 17],
            [1, 6, 21, 18, 3],
            [10, 13, 25, 33, 30],
            [14, 7, 16, 19, 22]
          ]

#Initialize counters for odd and even numbers
even_count = 0
odd_count = 0

#Iterate through the main list and its sublists using nested loops
for i in numbers:
  for j in i:
     # Check if the number is odd or even and increment the counters accordingly
     if j % 2 == 0:
      even_count += 1
     else:
      odd_count += 1

#Print the result
print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 12
Odd numbers: 13

In [ ]:
#take a list of numbers
numbers = [
            [2, 5, 11, 20, 8],
            [9, 4, 15, 28, 17],
            [1, 6, 21, 18, 3],
            [10, 13, 25, 33, 30],
            [14, 7, 16, 19, 22]
          ]

#take two blank lists for odd and even numbers
even_list = []
odd_list = []

#Iterate through the main list and the sublist using nested loop
for i in numbers:
  for j in i:
    # Check if the number is odd or even and save them in appropriate lists
    if j % 2 == 0:
      even_list.append(j)
    else:
      odd_list.append(j)

#Print the result
print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

Even numbers: [2, 20, 8, 4, 28, 6, 18, 10, 30, 14, 16, 22]
Odd numbers: [5, 11, 9, 15, 17, 1, 21, 3, 13, 25, 33, 7, 19]

###Perfect Number

Write a python program to check a given number is perfect or not.

Note: A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

Lets understand it with example

6 is a positive number and its divisor is 1,2,3 and 6 itself.

But we should not include 6 as by the definition of perfect number.

Lets add its divisor excluding itself

1+2+3 = 6 which is equal to number itself.

It means 6 is a Perfect Number.

Example 1:
Input:
28

Output:
It is Perfect Number

Example 2:
Input:
1256488

Output:
It is not Perfect Number

In [ ]:
num = int(input())
list1 = []

for i in range(1, (num//2)+1):
    if num % i == 0:
        list1.append(i)

if sum(list1) == num:
    print("It is Perfect Number")
else:
    print("It is not Perfect Number")

496
It is Perfect Number

In [ ]:
pip install memory_profiler

Collecting memory_profiler
  Downloading memory_profiler-0.61.0-py3-none-any.whl (31 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from memory_profiler) (5.9.5)
Installing collected packages: memory_profiler
Successfully installed memory_profiler-0.61.0

In [ ]:
from memory_profiler import profile

@profile
def check_perfect_number(num):
  list1 = []
  for i in range(1, (num // 2) + 1):
    if num % i == 0:
      list1.append(i)

  if sum(list1) == num:
    print("It is a Perfect Number")

  else:
    print("It is not a Perfect Number")

if __name__ == "__main__":
  num = int(input("Enter a number: "))
  check_perfect_number(num)

Enter a number: 496

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/local/lib/python3.10/dist-packages/memory_profiler.py", line 847, in enable
    sys.settrace(self.trace_memory_usage)


PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/local/lib/python3.10/dist-packages/memory_profiler.py", line 850, in disable
    sys.settrace(self._original_trace_function)

ERROR: Could not find file <ipython-input-44-43b3019f9c9d>
NOTE: %mprun can only be used on functions defined in physical files, and not in the IPython environment.
It is a Perfect Number

##Change position

Write a Python program to change the position of every nth value with the (n+1)th in a list.

Example 1:
Input:
[1, 0, 3, 2, 5, 4]

Output:
[0, 1, 2, 3, 4, 5]

In [ ]:
lst = eval(input())
n = 0

for i in range(0, len(lst), 2):
    n = lst[i]
    lst[i] = lst[i+1]
    lst[i+1] = n

print(lst)
#total 19 steps

[1, 0, 3, 2, 5, 4]
[0, 1, 2, 3, 4, 5]

In [ ]:
lst = eval(input())
l = len(lst)
new_list = []

for i in range(0, l, 2):
    new_list.append(lst[i+1])
    new_list.append(lst[i])

print(new_list)

[1, 0, 3, 2, 5, 4]
[0, 1, 2, 3, 4, 5]

##Difference between two lists

Write a Python program to compute the difference between two lists.

Example 1:
Input:
L1=["red", "orange", "green", "blue", "white"]

L2=["black", "yellow", "green", "blue"]

Output:
L1-L2= ['orange', 'red', 'white']

L2-L1= ['black', 'yellow']

In [ ]:
#take both list input from user
L1 = eval(input("L1="))
L2 = eval(input("L2="))

#find the difference between two list
L3 = (set(L1)).difference(set(L2))
L4 = (set(L2)).difference(set(L1))

#print the result
print("L1-L2=",sorted(L3))
print("L2-L1=",sorted(L4))

L1=["red", "orange", "green", "blue", "white"]
L2=["black", "yellow", "green", "blue"]
L1-L2= ['orange', 'red', 'white']
L2-L1= ['black', 'yellow']

In [ ]:
# Create a list of grades for each student
grades = [90, 85, 95, 80, 75, 85, 90, 85, 70, 80,
          90, 75, 80, 85, 90, 95, 80, 75, 85, 90,
          85, 90, 75, 80, 85]

# Use a for loop to calculate the total grade for the class
total_grade = 0

for i in grades:
  total_grade += i

#Calculate average grade
average_grade = total_grade / len(grades)

#Print the output
print("Total Grade:", total_grade)
print("Average Grade:", average_grade)

Total Grade: 2095
Average Grade: 83.8

In [ ]:
# take a input string from user
str1 = input()
count = 0

#iterate string using loop and count vowels
for i in str1:
  if i in "aeiouAEIOU":
    count += 1

#display the result
print(count)

Hello, Python! we are happy.
7

In [ ]:
# take a input string from user
str1 = input()
rev_str1 = ""
i = len(str1)-1

#iterate string using loop
while i >= 0:
  rev_str1 += str1[i]
  i -= 1

#display the result
print(rev_str1)

lootera
aretool

In [ ]:
library = {
    'To Kill a Mockingbird': 'Harper Lee',
    '1984': 'George Orwell',
    'The Catcher in the Rye': 'J.D. Salinger',
    'The Great Gatsby': 'F. Scott Fitzgerald'
}

for books in library.keys():
  print(books)

To Kill a Mockingbird
1984
The Catcher in the Rye
The Great Gatsby

In [ ]:
for author in library.values():
  print(author)

Harper Lee
George Orwell
J.D. Salinger
F. Scott Fitzgerald

In [ ]:
for books, author in library.items():
  print(f"{books} is written by {author}")

To Kill a Mockingbird is written by Harper Lee
1984 is written by George Orwell
The Catcher in the Rye is written by J.D. Salinger
The Great Gatsby is written by F. Scott Fitzgerald

In [ ]:
#Below we have revenue for previous week. Update this and add this week's revenue as well.
revenue = {
    'Monday': 250,
    'Tuesday': 230,
    'Wednesday': 45,
    'Thursday': 100,
    'Friday': 109,
    'Saturday': 234,
    'Sunday': 567
}

for sale_amount in revenue.values():
  sale_amount += sale_amount

print(sale_amount)

1134

In [ ]:
# define a list of rolls for each player
player_rolls = [
    [4, 2, 6, 3, 1],  # player 1's rolls
    [3, 5, 6, 4, 2],  # player 2's rolls
    [1, 2, 2, 6, 4]   # player 3's rolls
]

average_rolls = []

for i, rolls in enumerate(player_rolls, 1):
  total_rolls = sum(rolls)
  average_rolls.append(total_rolls / len(rolls))

print(average_rolls)

[3.2, 4.0, 3.0]

In [ ]:
person = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
city: New York

In [ ]:
#write your code inside main function
def  main(lst):
  new_list = []
  for i in range(len(lst)):
    if i not in (0,4,5):
      new_list.append(lst[i])
  return new_list

lst = eval(input())
main(lst)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

['Green', 'White', 'Black']

In [ ]:
# your code goes here
def add_numbers(a, b):
   if not (isinstance(a, int) and isinstance(b, int)):
       return "Inputs must be integers!"
   return a + b

n1 = eval(input())
n2 = eval(input())
print(add_numbers(n1, n2))

10
20
30

In [ ]:
# your code goes here

lst = eval(input())
n = int(input())
print(lst[n - 1::n])

[5, 10, 15, 40, 11, 13, 15, 8]
5
[11]

In [ ]:
lst = eval(input())
n = int(input())
new_list = []

for i in lst:
  if i % n == 0:
    new_list.append(i)

print(new_list)

[5, 10, 15, 40, 11, 13, 15, 8]
5
[5, 10, 15, 40, 15]

In [ ]:
sentence=("Data Science")
sentence.count('data')

0

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
my_dict = {"red": 2, "blue": 3, "green": 4}
print("purple" in my_dict)

False

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
for word in words:
    if 'z' in word:
        print(word)

In [ ]:
str1 = "25"
int1 = int(str1)
print(int1)

25

In [ ]:
my_dict = {"red": 2, "blue": 3, "green": 4}
del my_dict["red"]
print(my_dict)

{'blue': 3, 'green': 4}

In [ ]:
x = -5
y = -10
if x > 0:
    if y > 0:
        print("x and y are both positive")
    else:
        print("x is positive and y is non-positive")
else:
    print("x is non-positive")

x is non-positive

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[3:6])

(4, 5)

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
for word in words:
    if 'b' in word:
        print(word)

banana
elderberry

In [ ]:
list1=[1,2,3,4,5]
print(list1[~0])

5

In [ ]:
string = "hello"

In [ ]:
string[::-1]

'olleh'

In [ ]:
lst1 = [1, 3, 79, 10, 4, 1, 39]

result = [i for i in lst1 if i > 10 and i % 10 % 2 == 1]

print(result)

[79, 39]

In [ ]:
def test(nums):
    result = [i for i in nums if i > 10 and i % 10 % 2 == 1]
    return result

nums = eval(input())
print(test(nums))

[1, 3, 79, 10, 4, 1, 39]
[79, 39]

In [ ]:
def test(nums):
  for x in nums:
    if x > 10 and x % 10 % 2 ==1 and int(str(x)[0]) % 2 == 1:
      return x

nums = eval(input())
print(test(nums))

[1, 3, 79, 10, 4, 1, 39]
79

In [ ]:
names = ['Alice', 'Bob', 'Charlie']

ages = [25, 30, 35]

for name, age in zip(names, ages):

	print(name, age)

Alice 25
Bob 30
Charlie 35

In [ ]:
fruits = ['apple', 'banana', 'orange']

for index, fruit in enumerate(fruits):

  print(index, fruit)

0 apple
1 banana
2 orange

In [ ]:
original_list = [1, 2, 3, 4, 5]
reversed_list = []

for i in range(len(original_list)-1, -1, -1):
  reversed_list.append(original_list[i])

print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
original_list1 = [1, 2, 3, 4, 5]
i = len(original_list1)-1
reversed_list1 = []

while i >= 0:
  reversed_list1.append(original_list1[i])
  i -= 1

print(reversed_list1)

[5, 4, 3, 2, 1]

In [ ]:
original_str = "Hello, World!"
reversed_str = ""

for i in range(len(original_str)-1, -1, -1):
  reversed_str += original_str[i]

print(reversed_str)

!dlroW ,olleH

In [ ]:
org_dict = {'a': 1, 'b': 2, 'c': 3}

for key, value in org_dict.items():
  print(key, value)

a 1
b 2
c 3

In [ ]:
# Example of using a for loop inside a while loop
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 0

while index < len(numbers):
    for i in range(numbers[index]):
        print(i, end= ' ')
    print()  # Print a newline after each inner loop
    index += 1

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [ ]:
inp = -10
y = abs(inp)
print("The absolute value of", inp, "is", y)

The absolute value of -10 is 10

In [ ]:
L1 = [0, 0, 0]
x = all(L1)
print(x)

False

In [ ]:
list1 = [2,3,4,5]
number = 1
print(all(x>number for x in list1))

True

In [ ]:
x = "My nåme is Råvitejå"
y = ascii(x)
print(y)

'My n\xe5me is R\xe5vitej\xe5'

In [ ]:
x = bin(95)
print(x)

0b1011111

In [ ]:
x = bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
x = 5
print(callable(x))

False

In [ ]:
class Person:
  name = "Ravi"
  age = 25
  country = "India"
print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

In [ ]:
class Student:
    Name = "Ravi"
    Age = 25
    Country = "India"
x = getattr(Student,"Age") # Returns the value of attribute age.
print(x)

25

In [ ]:
x = globals()
print(x)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'inp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', 'inp = -10\ny = abs(inp)\nprint("The absolute value of", inp, "is", y)', 'L1 = [0, 1, 1]\nx = all(L1)\nprint(x)', 'L1 = [1, 1, 1]\nx = all(L1)\nprint(x)', 'L1 = [0, 0, 0]\nx = all(L1)\nprint(x)', 'list1 = [2,3,4,5]\nnumber = 1\nresult = [all(x>number for x in list1)]', 'list1 = [2,3,4,5]\nnumber = 1\nresult = [all(x>number for x in list1)]\nprint(result)', 'list1 = [2,3,4,5]\nnumber = 1\nprint(all(x>number for x in list1))', 'x = "My nåme is Råvitejå"\ny = ascii(x)\nprint(y)', 'x = bin(5)\nprint(x)', 'x = bin(95)\nprint(x)', 'x= bool([2,3,4])\nprint(x)', 'x= bool([0,3,4])\nprint(x)', 'x= bool("Ravi")\nprint(x)', 'x= bool(0)\nprint(x)', 'x= bool(1)\nprint(x)', 'x= bool(100)\nprint(x)', 'x= bool(None)\nprint(x)', "x= bool({'a': 1, 'b': 2})\nprint(x)", 'x= bool("Ravi")\nprint(x)', 'x= bool((1,2,3))\nprint(x)', 'x= bool("Ravi")\nprint(x)', 'x = bytearray(5)\nprint(x)', 'def x():\n  x = 5\nprint(callable(x))', 'x = 5\nprint(callable(x))', 'class Person:\n  name = "Ravi"\n  age = 25\n  country = "India"\nprint(dir(Person))', 'dir()', 'class Student:\n    Name = "Ravi"\n    Age = 25\n    Country = "India"\nx = getattr(Student,"Age") # Returns the value of attribute age.\nprint(x)', 'x = globals()\nprint(x)'], '_oh': {27: ['In', 'L1', 'Out', 'Person', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'inp', 'list1', 'number', 'quit', 'result', 'x', 'y']}, '_dh': ['/content'], 'In': ['', 'inp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', 'inp = -10\ny = abs(inp)\nprint("The absolute value of", inp, "is", y)', 'L1 = [0, 1, 1]\nx = all(L1)\nprint(x)', 'L1 = [1, 1, 1]\nx = all(L1)\nprint(x)', 'L1 = [0, 0, 0]\nx = all(L1)\nprint(x)', 'list1 = [2,3,4,5]\nnumber = 1\nresult = [all(x>number for x in list1)]', 'list1 = [2,3,4,5]\nnumber = 1\nresult = [all(x>number for x in list1)]\nprint(result)', 'list1 = [2,3,4,5]\nnumber = 1\nprint(all(x>number for x in list1))', 'x = "My nåme is Råvitejå"\ny = ascii(x)\nprint(y)', 'x = bin(5)\nprint(x)', 'x = bin(95)\nprint(x)', 'x= bool([2,3,4])\nprint(x)', 'x= bool([0,3,4])\nprint(x)', 'x= bool("Ravi")\nprint(x)', 'x= bool(0)\nprint(x)', 'x= bool(1)\nprint(x)', 'x= bool(100)\nprint(x)', 'x= bool(None)\nprint(x)', "x= bool({'a': 1, 'b': 2})\nprint(x)", 'x= bool("Ravi")\nprint(x)', 'x= bool((1,2,3))\nprint(x)', 'x= bool("Ravi")\nprint(x)', 'x = bytearray(5)\nprint(x)', 'def x():\n  x = 5\nprint(callable(x))', 'x = 5\nprint(callable(x))', 'class Person:\n  name = "Ravi"\n  age = 25\n  country = "India"\nprint(dir(Person))', 'dir()', 'class Student:\n    Name = "Ravi"\n    Age = 25\n    Country = "India"\nx = getattr(Student,"Age") # Returns the value of attribute age.\nprint(x)', 'x = globals()\nprint(x)'], 'Out': {27: ['In', 'L1', 'Out', 'Person', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'inp', 'list1', 'number', 'quit', 'result', 'x', 'y']}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7da9d6bc1e40>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7da9d6bc23e0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7da9d6bc23e0>, '_': ['In', 'L1', 'Out', 'Person', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'inp', 'list1', 'number', 'quit', 'result', 'x', 'y'], '__': '', '___': '', '_i': 'class Student:\n    Name = "Ravi"\n    Age = 25\n    Country = "India"\nx = getattr(Student,"Age") # Returns the value of attribute age.\nprint(x)', '_ii': 'dir()', '_iii': 'class Person:\n  name = "Ravi"\n  age = 25\n  country = "India"\nprint(dir(Person))', '_i1': 'inp = -10\ny = abs(int(inp))\nprint("The absolute value of", inp, "is", y)', 'inp': -10, 'y': "'My n\\xe5me is R\\xe5vitej\\xe5'", '_i2': 'inp = -10\ny = abs(inp)\nprint("The absolute value of", inp, "is", y)', '_i3': 'L1 = [0, 1, 1]\nx = all(L1)\nprint(x)', 'L1': [0, 0, 0], 'x': {...}, '_i4': 'L1 = [1, 1, 1]\nx = all(L1)\nprint(x)', '_i5': 'L1 = [0, 0, 0]\nx = all(L1)\nprint(x)', '_i6': 'list1 = [2,3,4,5]\nnumber = 1\nresult = [all(x>number for x in list1)]', 'list1': [2, 3, 4, 5], 'number': 1, 'result': [True], '_i7': 'list1 = [2,3,4,5]\nnumber = 1\nresult = [all(x>number for x in list1)]\nprint(result)', '_i8': 'list1 = [2,3,4,5]\nnumber = 1\nprint(all(x>number for x in list1))', '_i9': 'x = "My nåme is Råvitejå"\ny = ascii(x)\nprint(y)', '_i10': 'x = bin(5)\nprint(x)', '_i11': 'x = bin(95)\nprint(x)', '_i12': 'x= bool([2,3,4])\nprint(x)', '_i13': 'x= bool([0,3,4])\nprint(x)', '_i14': 'x= bool("Ravi")\nprint(x)', '_i15': 'x= bool(0)\nprint(x)', '_i16': 'x= bool(1)\nprint(x)', '_i17': 'x= bool(100)\nprint(x)', '_i18': 'x= bool(None)\nprint(x)', '_i19': "x= bool({'a': 1, 'b': 2})\nprint(x)", '_i20': 'x= bool("Ravi")\nprint(x)', '_i21': 'x= bool((1,2,3))\nprint(x)', '_i22': 'x= bool("Ravi")\nprint(x)', '_i23': 'x = bytearray(5)\nprint(x)', '_i24': 'def x():\n  x = 5\nprint(callable(x))', '_i25': 'x = 5\nprint(callable(x))', '_i26': 'class Person:\n  name = "Ravi"\n  age = 25\n  country = "India"\nprint(dir(Person))', 'Person': <class '__main__.Person'>, '_i27': 'dir()', '_27': ['In', 'L1', 'Out', 'Person', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'inp', 'list1', 'number', 'quit', 'result', 'x', 'y'], '_i28': 'class Student:\n    Name = "Ravi"\n    Age = 25\n    Country = "India"\nx = getattr(Student,"Age") # Returns the value of attribute age.\nprint(x)', 'Student': <class '__main__.Student'>, '_i29': 'x = globals()\nprint(x)'}

In [ ]:
L1 = [ 1, 2 , 3, 4, 5]

D1 = {key: value for key, value in enumerate(L1)}
print(D1)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [ ]:
L1 = [ 1, 2 , 3, 4, 5]
L2 = ["one", "two", "three", "four", "five"]
D1 = {key: value for key, value in zip(L1, L2)}
print(D1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [ ]:
for item in L1:
  print(item**2, end=" ")

1 4 9 16 25

## Reschedule the meeting to next date

Write a Python Program for Mr. Harry to automatically reschedule a meeting to the next date whenever it is not held on the current date.
Sample

Input a year: 1974
Input a month [1-12]: 2
Input a day [1-31]: 15
The next date is [yyyy-mm-dd] 1974-2-16.

Example 1:
Input:
2018 7 14

Output:
The next date is [yyyy-mm-dd] 2018-7-15.

In [ ]:
year = int(input())
month = int(input())
day = int(input())

if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
  leap_year = True
else:
  leap_year = False

if month in (1, 3, 5, 7, 8, 10, 12):
  days_in_month = 31
elif month in (4, 6, 9, 11):
  days_in_month = 30
elif month == 2 and leap_year:
  days_in_month = 29
elif month == 2 and not leap_year:
  days_in_month = 28

if days_in_month > day:
  day += 1
else:
  day = 1
  if month == 12:
    month = 1
    year += 1
  else:
    month += 1

print(year, month, day)

2012
3
31
2012 4 1

##Let's Begin with Basic Statistics
Medium
+10 APs
unsolved
In Statistics, Mean (average) is a common term used to analyze the data. Thus, we should know how to program this Statistical term using Python. For this, write a Python program to calculate the sum and average (Mean) of n integer numbers (input from the user). Input 0 to finish the list.

Example 1:
Input:
2

4

6

8

10

0

Output:
Average and Sum of the above numbers are: 6.0 30.0

Example 2:
Input:
15

16

12

0

Output:
Average and Sum of the above numbers are: 14.333333333333334 43.0

In [ ]:
count = 0
number = 1
sum = 0.0

while number != 0:
  number = int(input())
  sum += number
  count += 1

average = sum / (count-1)
print(f"Average and Sum of the above numbers are: {average} {sum}")

2
4
6
8
10
0
Average and Sum of the above numbers are: 6.0 30.0

In [ ]:
numbers = [12, 7, 8, 15, 20, 10, 45]
n = len(numbers)
lar_even = 0
i = 0

while i < n:
  if numbers[i] % 2 == 0 and numbers[i] > lar_even:
    lar_even = numbers[i]
  i += 1

print(lar_even)

20

In [ ]:
import time

In [ ]:
text = " "
while text != "quit":
  text = input()
  time.sleep(15)

hi
hello
quit

In [ ]:
numebrs = [12, 7, 8, 15, 20, 10, 45]

largest_num = None
i = 0

while i < len(numbers):
  if numbers[i] % 2 == 0:
    if largest_num is None or numbers[i] > largest_num:
      print("largest number:", largest_num)
      largest_num = numbers[i]
      print("Numbers:", numebrs[i])
  i += 1

print(largest_num)

largest number: None
Numbers: 12
largest number: 12
Numbers: 20
20

In [ ]:
name = "Neha"
age = 35
print("My name is {}, and my age is {}".format(name, age))

My name is Neha, and my age is 35

In [ ]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print("My Name is: {name} and My age is: {age} & I lived in city: {city}".format(**person))

My Name is: Alice and My age is: 30 & I lived in city: New York

In [ ]:
menu = {
    "Samosa": 20,
    "Kachori": 15,
    "Jalebi": 10,
    "Dhokla": 15,
    "Paani Puri": 30
}

order = {}

print("Welcome to the restaurant! Here is our Menu: Samosa {Samosa}, Kachori {Kachori}, Jalebi {Jalebi}, Dhokla {Dhokla}, Paani Puri {Paani Puri}".format(**menu))

Welcome to the restaurant! Here is our Menu: Samosa 20, Kachori 15, Jalebi 10, Dhokla 15, Paani Puri 30

In [ ]:
daily_sales = [10, 15, 20, 12, 8, 17, 9]

total_sale = 0
num_days = 0

for i in daily_sales:
  total_sale += i
  num_days += 1

average_sale = total_sale / num_days
print("The total number of loaves sold during the week:", total_sale)
print("The average number of loaves sold per day:", average_sale)

The total number of loaves sold during the week: 91
The average number of loaves sold per day: 13.0

In [ ]:
height = int(input("Enter the height of the triangle: "))

for i in range(1, height+1):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

Enter the height of the triangle: 4
*
* *
* * *
* * * *

In [ ]:
i = 0
while True:
    print(i)
    i += 1
    if i == 5:
        break

0
1
2
3
4

##Bhaag Milkha Bhaag!
You're training for a marathon and want to keep track of your running pace. Write a Python program that allows you to enter the time it took to run each mile, and calculates your average pace in minutes per mile. Use a while loop to keep asking for mile times until the user enters "done". If the user enters an invalid time(i.e. not a positive number), the program should ask for the time again.

In [ ]:
miles_time = []
time =''
while time != 'done':
  time = input()
  if time == 'done':
    break
  else:
    if int(time) < 0:
      print("Invalid time")
      continue
    else:
      miles_time.append(int(time))
average_pace = sum(miles_time) / len(miles_time)
print(average_pace)

10
-11
Invalid time
12
15
14
87
45
36
done
31.285714285714285

##Food Ordering System
You are developing a food ordering system for a restaurant that serves different types of dishes. The restaurant has a menu with the following

In [ ]:
# Try Out Here.
# Define the menu
menu = {
    "Samosa": 20,
    "Kachori": 15,
    "Jalebi": 10,
    "Dhokla": 15,
    "Paani Puri": 30
}

# Initialize the order dictionary
order = {}

# Welcome message
print("Welcome to the restaurant! Here is our menu:")

#display the menu items and their prices
for item, price in menu.items():
    print("- {} (Rs {:.2f})".format(item, price))

#Prompt the user for their order
done = False
while not done:
  items = input("\nWhat would you like to order? (enter 'done' when you are finished): ")
  item = items.title()
  if item == 'Done':
    done = True
  elif item in menu:
    quantity = int(input("How many {} would you like? ".format(item)))

    if quantity > 0:
      if item in order:
        order[item] += quantity
      else:
        order[item] = quantity
    else:
      ("Sorry, we don't have {} in our menu.".format(item))
  else:
    print("Sorry, we don't have {} in our menu.".format(item))

#display the order summary and total cost
if len(order) == 0:
  print("Your order is empty.")
else:
  print("\nYour order:")
  total_cost = 0
  for item, quantity in order.items():
    item_cost = menu[item] * quantity
    print("- {} x {}: Rs {:.2f}".format(item, quantity, item_cost))
    total_cost += item_cost
  print("\nTotal cost: Rs {:.2f}".format(total_cost))

Welcome to the restaurant! Here is our menu:
- Samosa (Rs 20.00)
- Kachori (Rs 15.00)
- Jalebi (Rs 10.00)
- Dhokla (Rs 15.00)
- Paani Puri (Rs 30.00)

What would you like to order? (enter 'done' when you are finished): Samosa
How many Samosa would you like? 15

What would you like to order? (enter 'done' when you are finished): done

Your order:
- Samosa x 15: Rs 300.00

Total cost: Rs 300.00

In [ ]:
list1=[1,2,3,4,5]
print(list1[1])

2

In [ ]:
my_list = [2, 4, 6, 6, 8, 10]
print(sum(my_list))

36

In [ ]:
print(len("rhetorical"))

10

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

In [ ]:
x=1

y=1

a = (x/(x+y)*x)*(x+y)

print(a)

1.0

In [ ]:
my_list = [1, 2, 3, 4]
a=[]
for i in my_list:
    if i == 1:
      continue
    if i == 4:
      break
    a.append(i)
print(a)

[2, 3]

In [ ]:
my_dict = {"red": 2, "blue": 3, "green": 4}
print(my_dict["blue"])

3

In [ ]:
x = 10
if x < 5:
    print("x is less than 5")
elif x > 10:
    print("x is greater than 10")
else:
    print("x is between 5 and 10")

x is between 5 and 10

In [ ]:
x = 10
if x < 5:
    print("x is less than 5")
elif x > 15:
    print("x is greater than 15")
else:
    print("x is between 5 and 15")

x is between 5 and 15

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed")

0
1
2

In [ ]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    if number % 2 == 0:
        print(number)

2
4

In [ ]:
list1 = [9,8,7]
result = list1 * 2
print(result)

[9, 8, 7, 9, 8, 7]

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
x = -5
y = -10
if x > 0:
    if y > 0:
        print("x and y are both positive")
    else:
        print("x is positive and y is non-positive")
else:
    print("x is non-positive")

x is non-positive

In [ ]:
sentence="Data Science is an interesting course"
print("interesting" in sentence)

True

In [ ]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []
for num in numbers:
    new_numbers.append(num * 2)
print(new_numbers)

[2, 4, 6, 8, 10]

In [ ]:
for i in range(2):
    for j in range(2, 4):
        print(i+j)

2
3
3
4

In [ ]:
my_dict = {"red": 2, "blue": 3, "green": 4}
print("purple" in my_dict)

False

In [ ]:
a = 8
b = 3
print(a*b+b)

27

In [ ]:
# Naively printing the 5 times table
print("{:d}*5 = {:d}".format(1, 1*5))

1*5 = 5

In [ ]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
 print("{:d}*5   = {:d}".format(i, i*5))

1*5   = 5
2*5   = 10
3*5   = 15
4*5   = 20
5*5   = 25
6*5   = 30
7*5   = 35
8*5   = 40
9*5   = 45
10*5   = 50

In [ ]:
for i in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10:
  print("{:d}*5 = {:d}".format(i, i*5))

1*5 = 5
2*5 = 10
3*5 = 15
4*5 = 20
5*5 = 25
6*5 = 30
7*5 = 35
8*5 = 40
9*5 = 45
10*5 = 50

In [ ]:
for i in [1, 2, 3]:
 # First indentation level (4 spaces)
  print("i = {:d}".format(i))
  for j in [4.0, 5.0, 6.0]:
 # Second indentation level (4+4 spaces)
    print(" j = {:.1f}".format(j))
 # First line AFTER loop over j
 # First line AFTER loop over i

i = 1
 j = 4.0
 j = 5.0
 j = 6.0
i = 2
 j = 4.0
 j = 5.0
 j = 6.0
i = 3
 j = 4.0
 j = 5.0
 j = 6.0

In [ ]:
import numpy as np
N=5
h=np.zeros(N) #heightsoffamily members(inmeter)
h[0]=1.60;h[1] =1.85;h[2]=1.75; h[3]=1.80;h[4] =0.50
sum=0
for i in [0,1,2,3,4]:
  sum=sum+ h[i]
  average=sum/N
print("Average height: {:g} meter".format(average))

Average height: 1.5 meter

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

# List comprehension to generate all possible coordinates
coordinates = [[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1)]

# Filter coordinates where sum is not equal to n
filtered_coordinates = [coord for coord in coordinates if sum(coord) != n]

#dispaly the result
print(filtered_coordinates)

1
2
3
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 3], [1, 2, 0], [1, 2, 2], [1, 2, 3]]

##Words of Prime Importance

In a test, students are supposed to write all the words in a passage whose length is a prime number. So, write a Python program to find all such words in a sentence/passage.

Example 1:
Input:
The quick brown fox jumps over the lazy dog.

Output:
The quick brown fox jumps the

In [41]:
strs = input()
for strs1 in strs.split(" "):
  if (len(strs1))>1:
    for i in range(2, int(len(strs1)**0.5)+1):
      if (len(strs1)%i == 0):
        break
    else:
      print(strs1, end= " ")

The quick brown fox jumps over the lazy dog.
The quick brown fox jumps the